body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1109px;
  height:635px;
}
#u495 {
  position:absolute;
  left:30px;
  top:34px;
  width:1109px;
  height:635px;
}
#u496 {
  position:absolute;
  left:2px;
  top:310px;
  width:1105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u497 {
  position:absolute;
  left:191px;
  top:188px;
  width:36px;
  height:28px;
}
#u498 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u499 {
  position:absolute;
  left:265px;
  top:188px;
  width:36px;
  height:28px;
}
#u500 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u501 {
  position:absolute;
  left:336px;
  top:188px;
  width:46px;
  height:28px;
}
#u502 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u503 {
  position:absolute;
  left:411px;
  top:188px;
  width:46px;
  height:28px;
}
#u504 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u505 {
  position:absolute;
  left:1095px;
  top:255px;
  width:33px;
  height:19px;
}
#u506 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u507 {
  position:absolute;
  left:1066px;
  top:318px;
  width:33px;
  height:19px;
}
#u508 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u509 {
  position:absolute;
  left:1095px;
  top:381px;
  width:33px;
  height:19px;
}
#u510 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u511 {
  position:absolute;
  left:1066px;
  top:444px;
  width:33px;
  height:19px;
}
#u512 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u513 {
  position:absolute;
  left:1095px;
  top:496px;
  width:33px;
  height:19px;
}
#u514 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u515 {
  position:absolute;
  left:1095px;
  top:549px;
  width:33px;
  height:19px;
}
#u516 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:284px;
}
#u517 {
  position:absolute;
  left:30px;
  top:736px;
  width:1103px;
  height:284px;
}
#u518 {
  position:absolute;
  left:2px;
  top:134px;
  width:1099px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:348px;
}
#u519 {
  position:absolute;
  left:30px;
  top:1110px;
  width:1001px;
  height:348px;
}
#u520 {
  position:absolute;
  left:2px;
  top:166px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
}
#u521 {
  position:absolute;
  left:77px;
  top:1128px;
  width:83px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u522 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u523 {
  position:absolute;
  left:531px;
  top:1180px;
  width:47px;
  height:22px;
}
#u524 {
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u525 {
  position:absolute;
  left:760px;
  top:1180px;
  width:47px;
  height:22px;
}
#u526 {
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
}
#u527 {
  position:absolute;
  left:299px;
  top:1267px;
  width:131px;
  height:22px;
}
#u528 {
  position:absolute;
  left:2px;
  top:3px;
  width:127px;
  word-wrap:break-word;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
}
#u529 {
  position:absolute;
  left:299px;
  top:1318px;
  width:131px;
  height:22px;
}
#u530 {
  position:absolute;
  left:2px;
  top:3px;
  width:127px;
  word-wrap:break-word;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
}
#u531 {
  position:absolute;
  left:341px;
  top:1219px;
  width:75px;
  height:22px;
}
#u532 {
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
