body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:638px;
}
#u480 {
  position:absolute;
  left:17px;
  top:24px;
  width:1111px;
  height:638px;
}
#u481 {
  position:absolute;
  left:2px;
  top:311px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
}
#u482 {
  position:absolute;
  left:942px;
  top:132px;
  width:91px;
  height:28px;
}
#u483 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u484 {
  position:absolute;
  left:44px;
  top:126px;
  width:36px;
  height:28px;
}
#u485 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u486 {
  position:absolute;
  left:177px;
  top:181px;
  width:36px;
  height:28px;
}
#u487 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u488 {
  position:absolute;
  left:285px;
  top:181px;
  width:36px;
  height:28px;
}
#u489 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u490 {
  position:absolute;
  left:394px;
  top:181px;
  width:46px;
  height:28px;
}
#u491 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u492 {
  position:absolute;
  left:1052px;
  top:224px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u493 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u494 {
  position:absolute;
  left:1057px;
  top:273px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u495 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u496 {
  position:absolute;
  left:1057px;
  top:323px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u497 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u498 {
  position:absolute;
  left:1057px;
  top:371px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u499 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u500 {
  position:absolute;
  left:1057px;
  top:421px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u501 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u502 {
  position:absolute;
  left:1057px;
  top:471px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u503 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u504 {
  position:absolute;
  left:1057px;
  top:520px;
  width:64px;
  height:27px;
  color:#0000FF;
}
#u505 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  position:absolute;
  left:623px;
  top:724px;
  width:505px;
  height:195px;
}
#u507 {
  position:absolute;
  left:2px;
  top:90px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u508 {
  position:absolute;
  left:649px;
  top:783px;
  width:106px;
  height:36px;
  text-align:left;
}
#u509 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u510 {
  position:absolute;
  left:968px;
  top:783px;
  width:143px;
  height:36px;
}
#u510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u510_input:disabled {
  color:grayText;
}
#u511 {
  position:absolute;
  left:780px;
  top:783px;
  width:143px;
  height:36px;
}
#u511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u511_input:disabled {
  color:grayText;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u512 {
  position:absolute;
  left:935px;
  top:864px;
  width:75px;
  height:36px;
  color:#FFFFFF;
}
#u513 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u514 {
  position:absolute;
  left:1036px;
  top:864px;
  width:75px;
  height:36px;
  color:#1E1E1E;
}
#u515 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u516 {
  position:absolute;
  left:1089px;
  top:547px;
  width:0px;
  height:0px;
}
#u516_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:164px;
}
#u516_seg1 {
  position:absolute;
  left:-10px;
  top:146px;
  width:20px;
  height:21px;
}
#u517 {
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
