body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:638px;
}
#u483 {
  position:absolute;
  left:17px;
  top:24px;
  width:1111px;
  height:638px;
}
#u484 {
  position:absolute;
  left:2px;
  top:311px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
}
#u485 {
  position:absolute;
  left:942px;
  top:132px;
  width:91px;
  height:28px;
}
#u486 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u487 {
  position:absolute;
  left:44px;
  top:126px;
  width:36px;
  height:28px;
}
#u488 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u489 {
  position:absolute;
  left:177px;
  top:181px;
  width:36px;
  height:28px;
}
#u490 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u491 {
  position:absolute;
  left:285px;
  top:181px;
  width:36px;
  height:28px;
}
#u492 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u493 {
  position:absolute;
  left:394px;
  top:181px;
  width:46px;
  height:28px;
}
#u494 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
