body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:578px;
}
#u473 {
  position:absolute;
  left:319px;
  top:46px;
  width:1002px;
  height:578px;
}
#u474 {
  position:absolute;
  left:2px;
  top:281px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:392px;
}
#u475 {
  position:absolute;
  left:1339px;
  top:46px;
  width:503px;
  height:392px;
}
#u476 {
  position:absolute;
  left:2px;
  top:188px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  position:absolute;
  left:1291px;
  top:131px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u477_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:78px;
  height:8px;
}
#u477_seg2 {
  position:absolute;
  left:60px;
  top:-9px;
  width:21px;
  height:20px;
}
#u478 {
  position:absolute;
  left:-14px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:279px;
}
#u479 {
  position:absolute;
  left:42px;
  top:71px;
  width:232px;
  height:279px;
}
#u480 {
  position:absolute;
  left:2px;
  top:132px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481 {
  position:absolute;
  left:406px;
  top:135px;
  width:0px;
  height:0px;
}
#u481_seg0 {
  position:absolute;
  left:-4px;
  top:-12px;
  width:8px;
  height:12px;
}
#u481_seg1 {
  position:absolute;
  left:-147px;
  top:-12px;
  width:151px;
  height:8px;
}
#u481_seg2 {
  position:absolute;
  left:-154px;
  top:-18px;
  width:21px;
  height:20px;
}
#u482 {
  position:absolute;
  left:-120px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u483 {
  position:absolute;
  left:480px;
  top:124px;
  width:46px;
  height:28px;
}
#u484 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u485 {
  position:absolute;
  left:342px;
  top:168px;
  width:46px;
  height:28px;
}
#u486 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u487 {
  position:absolute;
  left:480px;
  top:168px;
  width:46px;
  height:28px;
}
#u488 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:72px;
}
#u489 {
  position:absolute;
  left:320px;
  top:624px;
  width:1001px;
  height:72px;
}
#u490 {
  position:absolute;
  left:2px;
  top:28px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
