body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:578px;
}
#u462 {
  position:absolute;
  left:319px;
  top:46px;
  width:1002px;
  height:578px;
}
#u463 {
  position:absolute;
  left:2px;
  top:281px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:392px;
}
#u464 {
  position:absolute;
  left:1339px;
  top:46px;
  width:503px;
  height:392px;
}
#u465 {
  position:absolute;
  left:2px;
  top:188px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  position:absolute;
  left:1291px;
  top:131px;
  width:0px;
  height:0px;
}
#u466_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u466_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:78px;
  height:8px;
}
#u466_seg2 {
  position:absolute;
  left:60px;
  top:-9px;
  width:21px;
  height:20px;
}
#u467 {
  position:absolute;
  left:-14px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:279px;
}
#u468 {
  position:absolute;
  left:42px;
  top:71px;
  width:232px;
  height:279px;
}
#u469 {
  position:absolute;
  left:2px;
  top:132px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  position:absolute;
  left:406px;
  top:135px;
  width:0px;
  height:0px;
}
#u470_seg0 {
  position:absolute;
  left:-4px;
  top:-12px;
  width:8px;
  height:12px;
}
#u470_seg1 {
  position:absolute;
  left:-147px;
  top:-12px;
  width:151px;
  height:8px;
}
#u470_seg2 {
  position:absolute;
  left:-154px;
  top:-18px;
  width:21px;
  height:20px;
}
#u471 {
  position:absolute;
  left:-120px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u472 {
  position:absolute;
  left:480px;
  top:124px;
  width:46px;
  height:28px;
}
#u473 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u474 {
  position:absolute;
  left:342px;
  top:168px;
  width:46px;
  height:28px;
}
#u475 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
}
#u476 {
  position:absolute;
  left:480px;
  top:168px;
  width:46px;
  height:28px;
}
#u477 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:72px;
}
#u478 {
  position:absolute;
  left:320px;
  top:624px;
  width:1001px;
  height:72px;
}
#u479 {
  position:absolute;
  left:2px;
  top:28px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
