body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:611px;
}
#u451 {
  position:absolute;
  left:51px;
  top:24px;
  width:968px;
  height:611px;
}
#u452 {
  position:absolute;
  left:2px;
  top:298px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u453 {
  position:absolute;
  left:179px;
  top:46px;
  width:58px;
  height:27px;
}
#u454 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
}
#u455 {
  position:absolute;
  left:70px;
  top:46px;
  width:66px;
  height:27px;
}
#u456 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:27px;
}
#u457 {
  position:absolute;
  left:363px;
  top:46px;
  width:102px;
  height:27px;
}
#u458 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u459 {
  position:absolute;
  left:604px;
  top:537px;
  width:159px;
  height:27px;
}
#u460 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u461 {
  position:absolute;
  left:604px;
  top:581px;
  width:159px;
  height:27px;
}
#u462 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u463 {
  position:absolute;
  left:800px;
  top:581px;
  width:58px;
  height:27px;
}
#u464 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
