body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:611px;
}
#u455 {
  position:absolute;
  left:52px;
  top:54px;
  width:968px;
  height:611px;
}
#u456 {
  position:absolute;
  left:2px;
  top:298px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u457 {
  position:absolute;
  left:180px;
  top:76px;
  width:58px;
  height:27px;
}
#u458 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
}
#u459 {
  position:absolute;
  left:71px;
  top:76px;
  width:66px;
  height:27px;
}
#u460 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:27px;
}
#u461 {
  position:absolute;
  left:364px;
  top:76px;
  width:102px;
  height:27px;
}
#u462 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u463 {
  position:absolute;
  left:605px;
  top:567px;
  width:159px;
  height:27px;
}
#u464 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u465 {
  position:absolute;
  left:605px;
  top:611px;
  width:159px;
  height:27px;
}
#u466 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u467 {
  position:absolute;
  left:801px;
  top:611px;
  width:58px;
  height:27px;
}
#u468 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u469 {
  position:absolute;
  left:71px;
  top:30px;
  width:106px;
  height:36px;
  text-align:left;
}
#u470 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u471 {
  position:absolute;
  left:269px;
  top:34px;
  width:72px;
  height:28px;
}
#u471_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u471_input:disabled {
  color:grayText;
}
#u472 {
  position:absolute;
  left:177px;
  top:34px;
  width:69px;
  height:28px;
}
#u472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u472_input:disabled {
  color:grayText;
}
